<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS APP</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Send Your Message</h1>
        <a href="/">Home</a>
    </header>
    <div class="container">
        <form action="/message" method="POST">
            <label for="recipient">Recipient:</label><br>
            <input class="mobileNo" type="text" name="recipient" id="recipient" size="68" style="height: 30px;" placeholder="Enter Mobile No starting with +233..." value="<%=messageObject.recipient %>"><br><br>
            <label for="message">Message:</label><br>
            <textarea name="message" id="message" cols="70" rows="15" placeholder="Enter your text..."><%=messageObject.message %></textarea><br><br>
            <input class="send" type="submit" value="Send"><br><br>
            <input type="submit" value="Save As Template" formaction="/template">
        </form><br>
        <div>
            <form action="/messages" method="GET">
                <input type="submit" value="History">
                <input type="submit" value="Templates" formaction="/templates">
            </form>
        </div>
    </div>
</body>
</html>