<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Templates</title>
</head>
<body>
    <h1>Templates</h1>

    <table>
        <tr>
            <th>No</th>
            <th>Message</th>
            <th>Recipient</th>
            <th>Action</th>
        </tr>

        <%
        if(allTemplates.length!=0){
        let i=1;
        allTemplates.forEach(template => {
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=template.message %></td>
            <td><%=template.mobile_no %></td>
            <td><a href="#">Send</a></td>
            <td><a href="#">Edit</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    
</body>
</html>