body {
    background-color: aliceblue;
    margin-top: 0px;
    padding: 0%;
    
}

header {
    background-color: aliceblue;
    padding: 2px;
    margin-top: 0%;
    text-align: center;
}

h1 {
    text-align: center;
    color:aqua;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.container {
    text-align: center;
    padding-top: 0px;
/*     margin-top: 10px; */
    
}

label {
    text-align: left;
}

input[type="submit"]
{
    width: 10em;
    border-radius: 5px;
    height: 2em;
    /* font-size: 18px; */
}

input[type="submit"]:hover
{
    background-color: aqua;
    color: black;
    cursor: pointer;
}

a {
    text-decoration: none;
    /* margin-top: 2px; */
    padding-top: 10px;
}

button:hover {
    background-color: aqua;
    color: black;
}

.img-container {
    margin: 10rem auto;
}
